:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(270, 60%, 19%);
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#joke-container {
   border: 10px solid var(--clr-neon);
   padding: 50px;
   font-size: 28px;
   font-weight: bold;
   outline-offset: 0.5rem;
   border-radius: .25em;
   color: pink;

   text-shadow: 0 0 .125em hsl(0 0 100% / 0.2),
   0 0 0.45em pink;

   box-shadow:
   inset 0 0 0.5em var(--clr-neon),
   0 0 0.5em var(--clr-neon);

   /*going to try this, but not sure will work with id vs class */
   position: relative;
}

#joke-container::before {
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    transform: perspective(1em) rotateX(50deg) scale(1, 0.25);
    filter: blur(1.5em);
}

#joke-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em .5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
}

#joke-container:hover,
#joke-container:focus {
    background-color: var(--clr-neon);
    transform: scale(1.05);
    /* box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.5); */

}

#joke-container:hover::after {
    opacity: 1;
}

#joke-container:hover::before {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    body {
        justify-content: flex;
        padding-top: 5vh;
    }

    #joke-container {
        font-size: 18px;
    }
}
